PORT=${MINILIB_PORT}
NODE_ENV=${NODE_ENV}
MAIN_HTTP_ROUTE=${MAIN_HTTP_ROUTE}

# PostgreSQL Connexion variables 
DB_HOST=${MINILIB_HOST}
DB_PORT=${MINILIB_PORT}
DB_NAME=${MINILIB_DB_NAME}
DB_USER={MINILIB_DB_NAME}
#DB_PASSWORD=${MINILIB_DB_PASSWORD}

# Quote for file is important !
DB_PASSWORD_FILE="${MINILIB_DB_PASSWORD_FILE}"