PORT=5001
NODE_ENV=development
# Connexion PostgreSQL — à remplir jeudi
# TODO - manage type for multi db after utils/database multi db handler 
# DB_TYPE=postgres

DB_HOST=192.168.100.10
DB_PORT=5432
DB_NAME=minilib
DB_USER=minilib_user
#DB_PASSWORD=YOUR_PASSWORD
DB_PASSWORD_FILE="YOUR_SECRET_FILE_FULLPATH"